<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="aplicacion">
        <form v-on:submit.prevent="agregarUsuario">
            <table>
                <tbody>
                    <tr>
                        <td><label>Identificacion</label></td>
                        <td><input type="text" v-model="id"></td>
                    </tr>
                    <tr>
                        <td><label>Nombre</label></td>
                        <td><input type="text" v-model="nombre"></td>
                    </tr>
                    <tr>
                        <td><label>Apellido</label></td>
                        <td><input type="text" v-model="apellido"></td>
                    </tr>
                    <tr>
                        <td><label>Teléfono</label></td>
                        <td><input type="text" v-model="telefono"></td>
                    </tr>
                    <tr>
                        <td><label>Correo</label></td>
                        <td><input type="text" v-model="correo"></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Agregar">
            
        </form>
        <table border="1">
            <thead>
                <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="usuario in usuarios">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.correo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/app.js"></script>
</html>