<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="aplicacion">
        <p>{{ 2*5 }}</p>
        <p>{{ saludo }}</p>
        <label >Edad: </label> 
        <p>DIRECTIVA V-MODEL</p>
        <input type="number" v-model="edad">
        <p>Edad en el Input -> {{ edad }}</p>
        <p>DIRECTIVA V-IF</p>
        <p v-if="edad>=50">Usted es de la tercera edad 👴</p>
        <p v-else-if="edad>=30">Usted es Atractiv@ 👩‍🎤👨‍🎤</p>
        <p v-else-if="edad>=18">Usted es Mayor de edad 😎</p>
        <p v-else-if="edad>=13">Usted es Adolescente 👦</p>
        <p v-else>Usted es Menor de edad 🤷‍♂️</p>
        <p>DIRECTIVA V-FOR</p>
        <ul>
            <li v-for="fila in navegadoresWeb">{{ fila }}</li>
        </ul>
        <table border="1">
            <thead>
                <th>Navegador</th>
            </thead>
            <tbody>
                <tr v-for="dato in navegadoresWeb"> 
                    <td>{{dato}}</td>
                </tr>
            </tbody>
        </table>
        <p>TABLA DE USUARIOS</p>
        <table border="1">
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
            </thead>
                <tr v-for="usuario in usuarios">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.correo}}</td>
                </tr>
            <tbody>

            </tbody>
        </table>
        <p>DIRECTV V-ON</p>
        <input type="button" value="INCREMENTAR" v-on:click="incrementar">
        <input type="button" value="DECREMENTAR" v-on:click="decrementar">
        <p>{{edad}}</p>
        <table border="1">
            <thead>
                <th>Navegador</th>
            </thead>
            <tbody>
                <tr v-for=""dato in navegadoresWeb></tr>
                <td>{{dato}}</td>
            </tbody>
        </table>
        <input type="text" v-model="navegador" v-on:keyup.enter="actualizaNavegadoresWeb">
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/app.js"></script>
</html>